 /*Start writing sass here*/
 
 @import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
 @include font-face("PF", "../fonts/PlayfairDisplay-BlackItalic");
 @import "../bower_components/bootstrap/dist/css/bootstrap.min.css";
 @import "../bower_components/flexslider/flexslider.css";
 @import "../bower_components/fontawesome/css/font-awesome.min.css";
 $font-italic: "Playfair Display";
 $main-color: #ED3237;
 $footer-color: #B1B0B0;
 body {
     padding-top: 70px;
 }
 
 img.loading {
     text-align: center;
     opacity: 1;
     width: 32px !important;
     height: auto;
 }
 
 img.doneLoading {
     opacity: 1;
 }
 
 nav li:hover .dropdown-menu {
     display: block;
 }
 
 .font-italic {
     font-family: "Playfair Display";
 }
 
 h1 {
     color: pink;
 }
 
 a {
     color: #000;
     &:hover {
         opacity: .7;
     }
 }
 
 p {
     margin: 0;
 }
 
 ul,
 ol {
     padding: 0;
 }
 
 ul li {
     list-style-type: none;
 }
 
 .nofocus:focus {
     outline: none;
     box-shadow: none;
     border-color: none;
 }
 
 .main-color {
     color: $main-color;
 }
 
 .search:focus {
     border-color: #ebebeb;
 }
 
 a:hover,
 a:focus {
     text-decoration: none;
 }
 
 .navbar-brand:hover {
     opacity: 1;
 }
 
 .nav>li>a:focus,
 .nav>li>a:hover {
     background-color: transparent;
 }
 
 .navbar-nav>li>a {
     padding: 7px 15px;
     &:hover {
         color: $main-color;
     }
 }
 
 .flex-direction-nav .flex-prev {
     left: 0;
 }
 
 .flex-direction-nav .flex-next {
     right: 0;
 }
 
 .carousel li {
     margin: 0;
 }
 
 .flex-control-nav li {
     margin-right: 5px;
 }
 
 //style
 .nav li a:hover {
     @include transition(all 800ms ease-in-out);
 }
 
 header {
     width: 100%;
     position: fixed;
     top: 0;
     background-color: #fff;
     z-index: 99;
     box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.25);
 }
 
 .mgtb {
     margin-top: 35px;
     margin-bottom: 30px;
 }
 
 .mgtb {
     a {
         border-bottom: 1px solid transparent;
         &:hover {
             border-bottom: 1px solid $main-color;
         }
     }
 }
 
 .italic {
     margin: 7px 0;
     color: $main-color;
     font-style: italic;
     font-size: 21px;
     font-weight: 700;
 }
 
 .noborder {
     border-radius: 0;
 }
 
 .nomgpd {
     margin: 0;
     padding: 0;
 }
 
 .subscribe {
     @extend.noborder;
     border: none;
     background-color: #ebebeb;
     text-transform: uppercase;
     font-size: 15px;
     font-weight: 600;
     line-height: 22px;
     padding: 12px 10px;
 }
 
 .mail {
     border: 1px solid transparent;
     min-height: 35px;
     background-color: #ebebeb;
     padding: 22px 12px;
     &:focus {
         background-color: #fff;
         border-top: 1px solid #ebebeb;
         border-right: 1px solid transparent;
         border-bottom: 1px solid #ebebeb;
         border-left: 1px solid #ebebeb;
         @include transition(all 300ms linear);
     }
 }
 
 .demand {
     margin: 40px 0;
 }
 
 .products-name {
     margin: 25px 0;
     font-size: 17px;
 }
 
 .products {
     height: 350px;
     border: 1px solid #000;
     margin: 35px 0;
     position: relative;
     overflow: hidden;
     font-weight: 700;
     letter-spacing: 2px;
     &:hover .pro-hov {
         opacity: 1;
     }
     &:hover .pro-img {
         img {
             @include transform(translate(-50%, -50%) scale(1.2));
             @include transition(all 2.5s ease-in-out);
         }
     }
     .pro-img {
         img {
             position: absolute;
             top: 50%;
             left: 50%;
             @include transform(translate(-50%, -50%) scale(1));
         }
     }
     .pro-hov {
         opacity: 0;
         background-color: rgba(0, 0, 0, .7);
         position: relative;
         height: 350px;
         .pro-detail {
             position: absolute;
             top: 50%;
             left: 50%;
             @include transform(translate(-50%, -50%));
             p {
                 color: $footer-color;
                 margin: 12px 0;
                 cursor: pointer;
                 &:hover {
                     color: $main-color;
                 }
             }
             .star {
                 a {
                     color: $footer-color;
                     &:hover {
                         color: $main-color;
                     }
                 }
             }
         }
     }
 }
 
 .brand-list {
     position: relative;
     height: 200px;
     overflow: hidden;
     border-top: 1px solid $footer-color;
     border-bottom: 1px solid $footer-color;
     &:hover .back-img {
         @include transform(translate(0, -80px));
         @include transition(all 2.5s ease-in-out);
     }
     &:hover .list-brand {
         background-color: transparent;
         @include transition(all 1.5s ease-in-out);
     }
     .back-img {
         position: absolute;
         top: 0;
         left: 0;
         z-index: -1;
         img {
             @include transform(translate(0, 0));
             @include transition(all 2.5s ease-in-out);
         }
     }
     .list-brand {
         min-height: 100%;
         background-color: #fff;
         .brand-img {
             margin: 40px 0;
             img {
                 width: 14%;
             }
         }
     }
 }
 
 //footer-menu
 footer {
     padding: 20px 0;
     background-color: #1b1b1b;
     color: $footer-color;
     .social-icon {
         margin: 0;
         li {
             margin-left: 5px;
             display: inline-block;
             a {
                 color: #fff;
             }
         }
     }
 }
 
 .footer-menu {
     padding: 25px 0;
     background-color: #222;
     color: $footer-color;
     .comp-info {
         span {
             margin: 15px 0;
             display: block;
             a {
                 margin-left: 5px;
                 color: $main-color;
                 &:hover {
                     opacity: 1;
                     text-decoration: underline;
                 }
             }
         }
     }
     .foot-links {
         a {
             color: $footer-color;
         }
     }
     .abt {
         margin: 20px 0;
         font-size: 20px;
     }
     .social-icons {
         li {
             display: inline-block;
             a {
                 width: 35px;
                 height: 35px;
                 border-radius: 100%;
                 margin-right: 5px;
                 display: inline-block;
                 background-color: $footer-color;
                 line-height: 35px;
                 text-align: center;
             }
         }
     }
 }
 
 .back-contact {
     padding: 20% 0;
     position: relative;
     background: url('../img/contactus.jpg');
 }