<div class="category">
  <!--
    <div class="back-contact cat">
        <div class="cont-head text-uppercase">
            <h2>Categories</h2>
        </div>
    </div>
-->
  <div class="banner-holder">

    <img src="{{category.banner|serverimage}}" alt="" class="img-responsive">

  </div>
  <div class="categ-page">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="cat-list">

            <accordion close-others="oneAtATime">
              <accordion-group ng-repeat="cat in allcategory" is-open="cat.isOpen">
                <accordion-heading >
                  <a ui-sref="category({id:cat.id})" class="block">{{cat.name}}
                    <!-- <i class="pull-right fa" ng-class="{'fa-minus':status.open7,'fa-plus':!status.open7}"></i> -->
                    <!-- </a></accordion-heading> -->
                    <!-- <ul ng-repeat="s in allSeries" ng-if="s.category == category.id"> -->
                    <i class="pull-right fa" ng-class="{'fa-minus':cat.isOpen,'fa-plus':!cat.isOpen}"></i>
                  </a>
                </accordion-heading>
                <!-- </accordion-heading ng-click="cat.isOpen = !cat.isOpen"> -->
                <ul ng-repeat="s in allSeries" ng-if="s.category == cat.id">
                  <li>
                    <a ng-click="eachSeries(cat.id, s.id)" ui-sref="category.series({id:cat.id, code:s.name})">{{s.name}}</a>
                  </li>
                  <!-- <li><a href="">2</a></li>
                  <li><a href="">3</a></li>
                  <li><a href="">4</a></li>
                  <li><a href="">5</a></li> -->
                </ul>
              </accordion-group>
            </accordion>
          </div>
        </div>
        <div class="col-md-9">

          <div class="panel">
            <!-- <div class="products-name text-center">
                        <p class="head">Panel</p>
                    </div> -->
            <div class="series clearfix">
              <div class="name pull-left">
                <span class="category-color">{{category.name}}</span>
                <span ng-repeat="s in series">
                  <a ng-click="eachSeries(category.id, s.id)" ui-sref="category.series({id:category.id, code:s.name})">{{s.name}}</a>
                </span>
              </div>
              <div class="pull-right name">
                <span class="category-color pointer" ng-click="feature(category.id);">Features</span>
              </div>
            </div>

            <div class="row" infinite-scroll='loadMore()' infinite-scroll-distance='2' >
              <div class="col-md-4 col-sm-6 col-xs-6" ng-repeat="pros in images track by $index" ng-click="open(pros);" ng-hide="isSeries">
                <div class="pro-list">
                  <a href="">
                    <div class="products">
                      <div class="pro-img">
                        <img ng-src="{{pros.image|serverimage}}" alt="Products" class="img-responsive">
                      </div>
                      <div class="pro-hov text-center text-uppercase">
                        <div class="pro-detail">
                          <a href="" class="eye">
                            <i class="fa fa-eye"></i>
                          </a>
                        </div>
                        <!-- <div class="view">
                                                <a href="" ng-click="open(pros);" class="eye"><i class="fa fa-eye"></i></a>
                                            </div> -->
                      </div>
                    </div>
                    <div class="product-code">
                      <p class="text-center">{{pros.name}}</p>
                    </div>
                  </a>
                </div>
              </div>

              <div class="col-md-4 col-sm-6 col-xs-6" ng-repeat="pros in seriesProducts" ng-click="open(pros);" ng-show="isSeries">
                <div class="pro-list">
                  <a href="">
                    <div class="products">
                      <div class="pro-img">
                        <img ng-src="{{pros.image|serverimage}}" alt="Products" class="img-responsive">
                      </div>
                      <div class="pro-hov text-center text-uppercase">
                        <div class="pro-detail">
                          <a href="" class="eye">
                            <i class="fa fa-eye"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="product-code">
                      <p class="text-center">{{pros.name}}</p>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-6" ng-repeat="pros in seriesProducts" ng-show="thisseries" ng-click="open(pros);">
              <div class="pro-list">
                <a href="">
                  <div class="products">
                    <div class="pro-img">
                      <img ng-src="{{pros.image|serverimage}}" alt="Products" class="img-responsive">
                    </div>
                    <div class="pro-hov text-center text-uppercase">
                      <div class="pro-detail">
                        <a href="" class="eye">
                          <i class="fa fa-eye"></i>
                        </a>
                      </div>
                      <!-- <div class="view">
                                                <a href="" ng-click="open(pros);" class="eye"><i class="fa fa-eye"></i></a>
                                            </div> -->
                    </div>
                  </div>
                  <div class="product-code">
                    <p class="text-center">{{pros.name}}</p>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
