<div class="category">
  <!--
    <div class="back-contact cat">
        <div class="cont-head text-uppercase">
            <h2>Categories</h2>
        </div>
    </div>
-->
  <div class="banner-holder">
    <img src="img/banners/acrylyte.png" alt="" class="img-responsive">
  </div>
  <div class="categ-page">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="cat-list">

            <accordion close-others="oneAtATime">
              <accordion-group is-open="status.open">
                <accordion-heading><a href="" class="block">Decolite <i class="pull-right glyphicon" ng-class="{' glyphicon glyphicon-minus':status.open, ' glyphicon glyphicon-plus': !status.open}"></i></a> </accordion-heading>

                <ul>
                  <li><a href="">1</a></li>
                  <li><a href="">2</a></li>
                  <li><a href="">3</a></li>
                  <li><a href="">4</a></li>
                  <li><a href="">5</a></li>
                </ul>
              </accordion-group>
              <accordion-group is-status="status.open1">
                <accordion-heading><a href="" class="block">Mikano <i class="pull-right glyphicon" ng-class="{'glyphicon glyphicon-minus':status.open1,'glyphicon glyphicon-plus':!status.open1}"></i></a></accordion-heading>
                <ul>
                  <li><a href="">1</a></li>
                  <li><a href="">2</a></li>
                  <li><a href="">3</a></li>
                  <li><a href="">4</a></li>
                  <li><a href="">5</a></li>
                </ul>
              </accordion-group>
              <accordion-group is-status="status.open2">
                <accordion-heading><a href="" class="block">Verona<i class="pull-right glyphicon" ng-class="{'glyphicon glyphicon-minus':status.open2,'glyphicon glyphicon-plus':!status.open2}"></i></a></accordion-heading>
                <ul>
                  <li><a href="">1</a></li>
                  <li><a href="">2</a></li>
                  <li><a href="">3</a></li>
                  <li><a href="">4</a></li>
                  <li><a href="">5</a></li>
                </ul>
              </accordion-group>
              <accordion-group is-status="status.open3">
                <accordion-heading><a href="" class="block">Acrylam <i class="pull-right glyphicon" ng-class="{'glyphicon glyphicon-minus':status.open3,'glyphicon glyphicon-plus':!status.open3}"></i></a></accordion-heading>
                <ul>
                  <li><a href="">1</a></li>
                  <li><a href="">2</a></li>
                  <li><a href="">3</a></li>
                  <li><a href="">4</a></li>
                  <li><a href="">5</a></li>
                </ul>
              </accordion-group>
              <accordion-group is-status="open4">
                <accordion-heading><a href="" class="block">Egger <i class="pull-right glyphicon" ng-class="{'glyphicon glyphicon-minus':status.open4,'glyphicon glyphicon-plus':!status.open4}"></i></a></accordion-heading>
                <ul>
                  <li><a href="">1</a></li>
                  <li><a href="">2</a></li>
                  <li><a href="">3</a></li>
                  <li><a href="">4</a></li>
                  <li><a href="">5</a></li>
                </ul>
              </accordion-group>
              <accordion-group is-status="open5">
                <accordion-heading><a href="" class="block">Flos <i class="pull-right glyphicon" ng-class="{'glyphicon glyphicon-minus':status.open5,'glyphicon glyphicon-plus':!status.open5}"></i></a></accordion-heading>
                <ul>
                  <li><a href="">1</a></li>
                  <li><a href="">2</a></li>
                  <li><a href="">3</a></li>
                  <li><a href="">4</a></li>
                  <li><a href="">5</a></li>
                </ul>
              </accordion-group>
              <accordion-group is-staus="open6">
                <accordion-heading><a href="" class="block">Decoart<i class="pull-right glyphicon" ng-class="{'glyphicon glyphicon-minus':status.open6,'glyphicon glyphicon-plus':!status.open6}"></i></a></accordion-heading>
                <ul>
                  <li><a href="">1</a></li>
                  <li><a href="">2</a></li>
                  <li><a href="">3</a></li>
                  <li><a href="">4</a></li>
                  <li><a href="">5</a></li>
                </ul>
              </accordion-group>
              <accordion-group is-status="open7">
                <accordion-heading><a href="" class="block active">Acrylyte<i class="pull-right glyphicon" ng-class="{'glyphicon glyphicon-minus':status.open7,'glyphicon glyphicon-plus':!status.open7}"></i></a></accordion-heading>
                <ul>
                  <li><a href="">1</a></li>
                  <li><a href="">2</a></li>
                  <li><a href="">3</a></li>
                  <li><a href="">4</a></li>
                  <li><a href="">5</a></li>
                </ul>
              </accordion-group>
              <accordion-group is-status="open8">
                <accordion-heading><a href="" class="block">Corriano<i class="pull-right glyphicon" ng-class="{'glyphicon glyphicon-minus':status.open8,'glyphicon glyphicon-plus':!status.open8}"></i></a></accordion-heading>
                <ul>
                  <li><a href="">1</a></li>
                  <li><a href="">2</a></li>
                  <li><a href="">3</a></li>
                  <li><a href="">4</a></li>
                  <li><a href="">5</a></li>
                </ul>
              </accordion-group>
              <accordion-group is-status="open9">
                <accordion-heading><a href="" class="block">Stylite<i class="pull-right glyphicon" ng-class="{'glyphicon glyphicon-minus':status.open9,'glyphicon glyphicon-plus':!status.open9}"></i></a></accordion-heading>
                <ul>
                  <li><a href="">1</a></li>
                  <li><a href="">2</a></li>
                  <li><a href="">3</a></li>
                  <li><a href="">4</a></li>
                  <li><a href="">5</a></li>
                </ul>
              </accordion-group>
              <accordion-group is-status="open10">
                <accordion-heading><a href="" class="block">Decopanel<i class="pull-right glyphicon" ng-class="{'glyphicon glyphicon-minus':status.open10,'glyphicon glyphicon-plus':!status.open10}"></i></a></accordion-heading>
                <ul>
                  <li><a href="">1</a></li>
                  <li><a href="">2</a></li>
                  <li><a href="">3</a></li>
                  <li><a href="">4</a></li>
                  <li><a href="">5</a></li>
                </ul>
              </accordion-group>
              <accordion-group is-status="open11">
                <accordion-heading><a href="" class="block">Decoris<i class="pull-right glyphicon" ng-class="{'glyphicon glyphicon-minus':status.open11,'glyphicon glyphicon-plus':!status.open11}"></i></a></accordion-heading>
                <ul>
                  <li><a href="">1</a></li>
                  <li><a href="">2</a></li>
                  <li><a href="">3</a></li>
                  <li><a href="">4</a></li>
                  <li><a href="">5</a></li>
                </ul>
              </accordion-group>
              <accordion-group is-status="open12">
                <accordion-heading><a href="" class="block">Forescolor<i class="pull-right glyphicon" ng-class="{'glyphicon glyphicon-minus':status.open12,'glyphicon glyphicon-plus':!status.open12}"></i></a></accordion-heading>
                <ul>
                  <li><a href="">1</a></li>
                  <li><a href="">2</a></li>
                  <li><a href="">3</a></li>
                  <li><a href="">4</a></li>
                  <li><a href="">5</a></li>
                </ul>
              </accordion-group>
              <accordion-group is-status="open13">
                <accordion-heading><a href="" class="block">Fashion Wall<i class="pull-right glyphicon" ng-class="{'glyphicon glyphicon-minus':status.open13,'glyphicon glyphicon-plus':!status.open13}"></i></a></accordion-heading>
                <ul>
                  <li><a href="">1</a></li>
                  <li><a href="">2</a></li>
                  <li><a href="">3</a></li>
                  <li><a href="">4</a></li>
                  <li><a href="">5</a></li>
                </ul>
              </accordion-group>
              <accordion-group is-status="open14">
                <accordion-heading><a href="" class="block">Emporio<i class="pull-right glyphicon" ng-class="{'glyphicon glyphicon-minus':status.open14,'glyphicon glyphicon-plus':!status.open14}"></i></a></accordion-heading>
                <ul>
                  <li><a href="">1</a></li>
                  <li><a href="">2</a></li>
                  <li><a href="">3</a></li>
                  <li><a href="">4</a></li>
                  <li><a href="">5</a></li>
                </ul>
              </accordion-group>
              <accordion-group is-status="open15">
                <accordion-heading><a href="" class="block">Matrix<i class="pull-right glyphicon" ng-class="{'glyphicon glyphicon-minus':status.open15,'glyphicon glyphicon-plus':!status.open15}"></i></a></accordion-heading>
                <ul>
                  <li><a href="">1</a></li>
                  <li><a href="">2</a></li>
                  <li><a href="">3</a></li>
                  <li><a href="">4</a></li>
                  <li><a href="">5</a></li>
                </ul>
              </accordion-group>
              <accordion-group is-status="open16">
                <accordion-heading><a href="" class="block">Solido<i class="pull-right glyphicon" ng-class="{'glyphicon glyphicon-minus':status.open16,'glyphicon glyphicon-plus':!status.open16}"></i></a></accordion-heading>
                <ul>
                  <li><a href="">1</a></li>
                  <li><a href="">2</a></li>
                  <li><a href="">3</a></li>
                  <li><a href="">4</a></li>
                  <li><a href="">5</a></li>
                </ul>
              </accordion-group>
              <accordion-group is-status="open17">
                <accordion-heading><a href="" class="block">3D<i class="pull-right glyphicon" ng-class="{'glyphicon glyphicon-minus':status.open17,'glyphicon glyphicon-plus':!status.open17}"></i></a></accordion-heading>
                <ul>
                  <li><a href="">1</a></li>
                  <li><a href="">2</a></li>
                  <li><a href="">3</a></li>
                  <li><a href="">4</a></li>
                  <li><a href="">5</a></li>
                </ul>
              </accordion-group>
              <accordion-group is-status="open18">
                <accordion-heading><a href="" class="block">Solid Wood<i class="pull-right glyphicon" ng-class="{'glyphicon glyphicon-minus':status.open18,'glyphicon glyphicon-plus':!status.open18}"></i></a></accordion-heading>
                <ul>
                  <li><a href="">1</a></li>
                  <li><a href="">2</a></li>
                  <li><a href="">3</a></li>
                  <li><a href="">4</a></li>
                  <li><a href="">5</a></li>
                </ul>
              </accordion-group>
            </accordion>
          </div>
        </div>
        <!--
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-xs-6" ng-repeat="pros in products">
                            <div class="pro-list">
                                <a href="">
                                    <div class="products">
                                        <div class="pro-img">
                                            <img ng-src="{{pros.img}}" alt="Products" class="img-responsive">
                                        </div>
                                        <div class="pro-hov text-center text-uppercase">
                                            <div class="pro-detail">
                                                <p>{{pros.name}}</p>
                                                <p>Rs: {{pros.price}}</p>
                                                <div class="star">
                                                    <a href=""><i class="fa fa-star-o"></i></a>
                                                    <a href=""><i class="fa fa-star-o"></i></a>
                                                    <a href=""><i class="fa fa-star-o"></i></a>
                                                    <a href=""><i class="fa fa-star-o"></i></a>
                                                    <a href=""><i class="fa fa-star-o"></i></a>
                                                </div>
                                                <a href="">enquire now</a>
                                            </div>
                                            <div class="view">
                                                <a href="" ng-click="open();" class="eye"><i class="fa fa-eye"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            -->

        <div class="col-md-9">

          <!-- <div class="prd-img">
                    <div class="molding">
                        <div class="products-name text-center">
                            <p class="head">Molding</p>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-sm-6 col-xs-6" ng-repeat="pros in molding">
                                <div class="pro-list">
                                    <a href="">
                                        <div class="products">
                                            <div class="pro-img">
                                                <img ng-src="{{pros.img}}" alt="Products" class="img-responsive">
                                            </div>
                                            <div class="pro-hov text-center text-uppercase">
                                                <div class="pro-detail">
                                                    <p>{{pros.name}}</p>
                                                </div>
                                                <div class="view">
                                                    <a href="" ng-click="open(pros);" class="eye"><i class="fa fa-eye"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
          <div class="panel">
            <!-- <div class="products-name text-center">
                        <p class="head">Panel</p>
                    </div> -->
            <div class="series">
              <div class="name">
                <span class="category-color name">Acrylyte</span>
                <span>8800 series</span>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 col-sm-6 col-xs-6" ng-repeat="pros in panel" ng-click="open(pros);">
                <div class="pro-list">
                  <a href="">
                    <div class="products">
                      <div class="pro-img">
                        <img ng-src="{{pros.img}}" alt="Products" class="img-responsive">
                      </div>
                      <div class="pro-hov text-center text-uppercase">
                        <div class="pro-detail">
                          <a href="" class="eye"><i class="fa fa-eye"></i></a>
                        </div>
                        <!-- <div class="view">
                                                <a href="" ng-click="open(pros);" class="eye"><i class="fa fa-eye"></i></a>
                                            </div> -->
                      </div>
                    </div>
                    <div class="product-code">
                      <p class="text-center">{{pros.code}}</p>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
