<div class="container pdt10">
	<div class="row">
		<div class="col-md-3 col-sm-4 col-xs-6" ng-repeat="catbrand in catmain">
			<a href="#/category" ng-if="catbrand.img=='img/gallery/acrylyte.png'">
				<div class="img-holder cathold">
					<img ng-src=" {{catbrand.img}} " alt=" " class="img-responsive">
				</div>
			</a>
			<a href="" ng-if="catbrand.img!='img/gallery/acrylyte.png'">
				<div class="img-holder cathold">
					<img ng-src=" {{catbrand.img}} " alt=" " class="img-responsive">
				</div>
			</a>
		</div>
	</div>
</div>
