<div class="contact">
    <!-- <div class="back-contact">
        <div class="cont-head text-uppercase">
            <h2>contact us</h2>
        </div>
    </div> -->
    <div class="container-fluid">
        <div class="text-center">
            <h3 class="head text-uppercase info">Contact Info</h3>
        </div>
        <div class="row">
            <!--
            <div class="col-md-6 nomgpd">
                <div class="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d942.8559468730115!2d72.86229082914882!3d19.04509616688978!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c8d1dd597859%3A0xc56313f81c612646!2sLaxmi+Nivas%2C+Swamy+Vallabhdas+Rd%2C+Sion+West%2C+Sion%2C+Mumbai%2C+Maharashtra+400022!5e0!3m2!1sen!2sin!4v1445942394575" width="100%" height="550" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
-->
        </div>
        <div class="col-md-12">
            <div class="comp-add text-uppercase">
                <div class="row">
                    <div class="col-md-offset-4 col-md-4 text-center">
                        <span class="head text-uppercase office">Head office</span>
                        <address class="text-center text-capitalize">
                <span class="contact-add"><i class="fa fa-home"></i>EURO PRATIK SALES CORPORATION 101, Universal Paradise, Nanda Patkar road,
Vile Parle (East), Mumbai 400 057.Maharshtra, India</span>
                <span class="number"><i class="fa fa-phone"></i><a href="tel:+91226146556">+91-22-614 6556</a>
                <a href="tel:+91226145955">+91-22-614 5955</a></span>
                <span><i class="fa fa-envelope-o"></i><a href="mailto:info@europratik.com" class="text-lowercase">info@europratik.com</a></span>
            </address>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="get-in-touch">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <form action="">
                    <div class="separte">
                        <span>*<label for="name" class="label-control">Name</label></span>
                        <input type="text" class="form-control" id="name">
                    </div>
                    <div class="separte">
                        <span>*<label for="mail" class="label-control">Email</label></span>
                        <input type="Email" class="form-control" id="mail">
                    </div>
                    <div class="separte">
                        <span><label for="tel" class="label-control">Telephone</label></span>
                        <input type="Tel" class="form-control" id="tel">
                    </div>
                </form>
            </div>
            <div class="col-md-6">
                <form action="">
                    <div class="separte">
                        <span>*<label for="comment">comment</label></span>
                        <textarea name="" id="comment" cols="30" rows="10" class="form-control"></textarea>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="submit-btn text-center">
        <a href="" class="submit button">Sumbit</a>
    </div>
</div>
</div>
</div>
