<div class="contact">
    <div class="back-contact cont-info">
        <h2>contact us</h2>
        <p>Lorem ippsum content</p>
    </div>
    <div class="container">
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d942.8559468730115!2d72.86229082914882!3d19.04509616688978!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c8d1dd597859%3A0xc56313f81c612646!2sLaxmi+Nivas%2C+Swamy+Vallabhdas+Rd%2C+Sion+West%2C+Sion%2C+Mumbai%2C+Maharashtra+400022!5e0!3m2!1sen!2sin!4v1445942394575" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <div class="comp-add text-center">
            <h3>Contact Info</h3>
        </div>
    </div>
</div>
