<div class="container pdt7">
    <div class="product-main">
      <div class="row">
          <div class="col-md-3 col-sm-4 col-xs-6" ng-repeat="getpdf in download">
              <div class="title">
                  <a ng-if="getpdf.id!=31" ng-href="{{getpdf.pdf|serverimage}}" target="_blank"><img ng-src="{{getpdf.image|serverimage}}" alt="" class="img-responsive" ></a>
                  <a ng-if="getpdf.id==31" href="http://europratik.com/admin/uploads/SPECTER-catalogue.pdf" target="_blank"><img ng-src="{{getpdf.image|serverimage}}" alt="" class="img-responsive"></a>
              </div>
              <div >

              </div>
          </div>
      </div>

    </div>
</div>
