<div class="slider">
    <flexslider class="carosuel">
        <li>
            <img ng-src="{{}}" alt="">
        </li>
    </flexslider>
</div>
<div class="message">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-4 col-md-8">
                <div class="msg-me">
                    <div class="row">
                        <div class="col-md-4">
                            <p>Join for our latest update</p>
                        </div>
                        <div class="col-md-8">
                            <div class="row">
                                <form action="">
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" placeholder="Your email here..">
                                    </div>
                                    <div class="col-md-4">
                                        <button type="submit">subscribe</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="demand">
    <div class="container-fluid no-pd-mg">
        <div class="row">
            <div class="col-md-4">
                <div class="arrival"></div>
            </div>
            <div class="col-md-4">
                <div class="product"></div>
            </div>
            <div class="col-md-4">
                <div class="upcoming"></div>
            </div>
        </div>
        <div class="on-demand">
            <p class="text-center">On demand</p>
        </div>
    </div>
</div>
<div class="exculsive">
    <div class="pra-excul">
        <p class="text-center">euro pratik <span>exculsive products</span></p>
    </div>
    <div class="container">
        <div class="excul-slide">
            <div class="row">
                <flex-slider animation="slide">
                    <div class="col-md-3">

                    </div>
                </flex-slider>
            </div>
        </div>
    </div>
</div>
<div class="products">
    <div class="pop-pro">
        <p class="text-center">popular products</p>
    </div>
    <div class="brand-list">
        <div class="container">
            <ul class="list">
                <li>
                    <div class="list-content">
                        <div class="container"></div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>