<div class="slider">
    <flex-slider class="carousel" flex-slide="s in slides" animation="slide" animation-loop="false">
        <li>
            <img ng-src="{{s}}">
        </li>
    </flex-slider>
</div>
<div class="message">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-4 col-md-8">
                <div class="msg-me">
                    <div class="row">
                        <div class="col-md-4 nomgpd">
                            <p class="italic font-italic">Join for our latest update</p>
                        </div>
                        <div class="col-md-8">
                            <div class="row">
                                <form action="">
                                    <div class="col-md-8 nomgpd">
                                        <input type="text" class="form-control nofocus noborder mail" placeholder="Your email here..">
                                    </div>
                                    <div class="col-md-4 nomgpd">
                                        <button type="submit" class="subscribe nofocus">subscribe</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="demand">
    <div class="container-fluid ">
        <div class="row">
            <div class="col-md-4">
                <div class="arrival">
                    <img src="img/newarrival.png" alt="Products" class="img-responsive">
                </div>
            </div>
            <div class="col-md-4">
                <div class="product">
                    <img src="img/product.png" alt="Products" class="img-responsive">
                </div>
            </div>
            <div class="col-md-4">
                <div class="upcoming">
                    <img src="img/upcoming.png" alt="Products" class="img-responsive">
                </div>
            </div>
        </div>
        <div class="on-demand products-name">
            <p class="text-center text-uppercase">On demand</p>
        </div>
    </div>
</div>
<div class="exculsive">
    <div class="pra-excul products-name">
        <p class="text-center text-uppercase">euro pratik <span class="main-color">exculsive products</span></p>
    </div>
    <div class="container">
        <div class="excul-slide">
            <div class="row">
                <!--                <flex-slider animation="slide" flex-slide="pros in slide">-->
                <div class="col-md-3" ng-repeat="pro in products">
                    <a href="">
                        <div class="products">
                            <div class="pro-img">
                                <img ng-src="{{pro.img}}" alt="Products" class="img-responsive">
                            </div>
                            <div class="pro-hov text-center text-uppercase">
                                <div class="pro-detail">
                                    <p>{{pro.name}}</p>
                                    <p>Rs: {{pro.price}}</p>
                                    <div class="star">
                                        <a href=""><i class="fa fa-star-o"></i></a>
                                        <a href=""><i class="fa fa-star-o"></i></a>
                                        <a href=""><i class="fa fa-star-o"></i></a>
                                        <a href=""><i class="fa fa-star-o"></i></a>
                                        <a href=""><i class="fa fa-star-o"></i></a>
                                    </div>
                                    <p>add to cart</p>
                                    <!--                                <p>Out of stock</p>-->
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!--                </flex-slider>-->
            </div>
        </div>
    </div>
</div>
<div class="pop-products">
    <div class="pop-pro products-name">
        <p class="text-center text-uppercase">popular products</p>
    </div>
    <div class="brand-list" ng-repeat="brand in brandlist">
        <div class="list-brand">
            <div class="container">
                <div class="brand-img">
                    <img ng-src="{{brand.img}}" alt="Brand" class="img-responsive">
                </div>
            </div>
        </div>
        <div class="back-img">
            <img ng-src="{{brand.back_img}}" alt="Brand" class="img-responsive">
        </div>
    </div>
</div>
