<div class="quickview">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <div class="pop text-center">
                    <div class="quick-img">
                        <img src="img/products/7.jpg" noloading="true" alt="" class="img-responsive">
                    </div>
                    <div class="pro-descp">
                        <h3 class="category-color">CUPIDATAT EAQUE CONFIGURABLE</h3>
                        <h4 class="category-color">Rs : 25,000/-</h4>
                    </div>
                    <div class="close" ng-click="closeThisDialog('value');"><i class="fa fa-times cross"></i></div>
                </div>
            </div>
        </div>
    </div>
</div>
