<div class="searchresult">
  <div class="container" ng-if="products.length!=0">
    <h3 class="category-color">Your search results are: </h3>
    <div infinite-scroll='loadMore()' infinite-scroll-disabled="shouldscroll">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-6" ng-repeat="pr in products" ui-sref="">
        <div class="pro-list">
            <div class="products">
              <div class="pro-img">
                <img ng-src="{{pr.image|serverimage}}" alt="Products" class="img-responsive">
              </div>
              <div class="pro-hov text-center text-uppercase">
                <div class="pro-detail">
                  <div class="eye"><i class="fa fa-eye"></i></div>
                </div>
                <!-- <div class="view">
                                        <a href="" ng-click="open(pros);" class="eye"><i class="fa fa-eye"></i></a>
                                    </div> -->
              </div>
            </div>
            <!-- <div class="product-code">
              <p class="text-center">{{pr.name}}</p>
            </div> -->
        </div>
      </div>
    </div>
  </div>
  </div>
  <div ng-if="products.length==0 && !noProducts" class="showerror">
    <h3 class="text-center">Loading....</h3>
  </div>
  <div ng-if="noProducts" class="showerror">
    <h3 class="text-center">No Product Found!</h3>
  </div>
</div>
