<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <p>Copyright 2015 &copy; <a href="#/home" class="main-color">Euro pratik</a>. All rights reserved.</p>
            </div>
            <div class="col-md-6 col-sm-6">
                <ul class="payment pull-right">
                    <li><a href=""><i class="fa fa-cc-visa fa-2x"></i></a></li>
                    <li><a href=""><i class="fa fa-cc-paypal fa-2x"></i></a></li>
                    <li><a href=""><i class="fa fa-cc-mastercard fa-2x"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>