<div class="footer-menu">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="comp-info">
                    <h2 class="footer-color">Euro Pratik</h2>
                    <!-- <address>
                       Champ de Mars, 5 Avenue Anatole France, 75007 Paris, France.
                        <span><i class="fa fa-phone"></i><a href="tel:+33892701239">+33 892 70 12 39</a></span>
                        <span><i class="fa fa-envelope"></i><a href="mailto:paris@france.com">paris@france.com</a></span>
                    </address> -->
                    <ul class="social-icons">
                        <li>
                            <a href="" class="fb"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="" class="twi"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="" class="google"><i class="fa fa-google-plus"></i></a>
                        </li>
                        <li>
                            <a href="" class="youtube"><i class="fa fa-youtube"></i></a>
                        </li>
                        <li>
                            <a href="" class="insta"><i class="fa fa-instagram"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <p class="abt">About us</p>
                <div class="foot-links">
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="aboutus">
                                <li><a href="#/categorymain">Categories</a></li>
                                <li><a href="#/contactus">Contact us</a></li>
                                <li><a href="">Sitemap</a></li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="scroll-top"><a href="#" class="scrollToTop"><i class="fa fa-angle-up"></i>Top</a></div>
</div>
