<div class="footer-menu">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="comp-info">
                    <h2 class="main-color">Euro Pratik</h2>
                    <address>
                        Plot no. 3, Flat no. A/30 Laxmi Nivas , 3rd Floor , Near Sadhana School , Sion (W) , Mumbai 400022.
                        <span>Tel: <a href="tel:9819222221">9819222221</a></span>
                        <span>Email: <a href="mailto:info@wohlig.com">info@wohlig.com</a></span>
                    </address>
                    <ul class="social-icons">
                        <li>
                            <a href="" class="fb"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="" class="twi"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="" class="google"><i class="fa fa-google-plus"></i></a>
                        </li>
                        <li>
                            <a href="" class="youtube"><i class="fa fa-youtube"></i></a>
                        </li>
                        <li>
                            <a href="" class="insta"><i class="fa fa-instagram"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <p class="abt">About us</p>
                <div class="foot-links">
                    <div class="row">
                        <div class="col-md-6">
                            <ul>
                                <li><a href="">Store Locations</a></li>
                                <li><a href="">Brand</a></li>
                                <li><a href="">Contact us</a></li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul>
                                <li><a href="">Blogs</a></li>
                                <li><a href="">Search terms</a></li>
                                <li><a href="">sitemap</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
