<header>
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-sm-2">
                <a href="" class="navbar-brand"><img src="img/logo.png" alt="Euro" class="img-responsive"></a>
            </div>
            <div class="col-md-8 col-sm-8">
                <nav>
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#euro">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div id="euro" class="collapse navbar-collapse">
                        <div class="template menu" ng-include="template.menu"></div>
                    </div>
            </div>
            <div class="col-md-2 col-sm-2">
                <form action="" class="mgtb">
                    <!--                    <input type="search" placeholder="Search.." class="form-control search noborder nofocus">-->
                    <span class="search-icon"><i class="fa fa-search"></i></span>
                </form>
            </div>
            </nav>
        </div>
    </div>
</header>